/bootstrap/compiled.php
/vendor
/node_modules
/public/assets
/public/packages
/public/casts/poster/*
/public/casts/video/*
/.sass-cache
composer.phar
composer.lock
*.log
.env.*.php
.env.php
.DS_Store
Thumbs.db
tags
