#blue {
  background: $xe-blue;
  padding-top: 25px;
  padding-bottom: 25px;

  h3 {
    color: $xe-white;
    margin-left: 15px;
  }
}

.similar-casts {
  margin: 0px;
  padding-left: 0px;

  p {
    line-height: normal;
    margin-bottom: auto;
  }

  li {
    list-style: none;
    margin-bottom: 20px;
    min-height: 70px;

    a,
    a:hover {
      color:#2f2f2f;
      text-decoration: none;
    }
    img {
      float: left;
      margin-right: 20px;
    }
    em {
      font-family: $xe-normal-font, sans-serif;
      font-size: 12px;
      color: #b3b3b3
    }
  }
}
