.casts {
  margin-bottom: 3.6em;
  display: block;
  text-align: center;

  h3 {
    margin-bottom: 25px;
  }

  &-thumbnails {
    padding:0 !important;
    margin:0 !important;
    display:block;

    &__item {
      .title:before {
        border-radius:0;
        display:none
      }
      p {
        margin:0px 0 30px;
      }
      h3 {
        margin:-10px 0 10px; font-size:16px; text-transform:uppercase;
      }

      .tpl6 {
        h3 {
          color: $xe-white;
          margin:0;
          padding:40px 5px 0;
          font-size:16px;
          text-transform:uppercase;
        }
        .dmbutton {
          display:inline-block;
          margin:30px 5px 20px 5px;
          font-size:13px;
        }

        .bg {
          height:100%;
          width:100%;
          background-color:$xe-blue;
          background-color:rgba($xe-blue, .9);
          text-align:center;
        }
      }
    }
  }
}
