@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

$xe-normal-font: 'Source Sans Pro';
$xe-special-font: 'Raleway';
$xe-logo-font: 'Audiowide';

$xe-white: #fff;
$xe-white-gray: #e1eaf5;
$xe-gray: #bfc9d3;
$xe-blue: #00b3fe;
$xe-iron-blue: #384452;
